.App {
  height: 100vh;
  text-align: center;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Nav_Link:visited {
  color: inherit;
}

